.v-emotion {

    ul, li {
        list-style: none;
        padding: 0;
    }

    .m-emotion-list {
        display: flex;
        .u-item {
            margin: 15px 15px 15px 0;
            font-size: 12px;

            .u-desc {
                .mt(4px);
            }

            .u-op {
                display: flex;
                align-content: center;
                justify-content: space-between;
                line-height: 24px;
                .mt(4px);

                .u-user {
                    display: inline-flex;
                    img {
                        .mr(4px);
                    }
                }

                i {
                    font-size: 16px;
                    cursor: pointer;
                    font-style: normal;
                    color: #eee;
                    margin-left: 1px;
                    transition: .1s ease-in-out;
                    padding: 2px;

                    &.on {
                        color: #ff76ba;
                    }
                }
            }

            .u-pic {
                width: 180px;
                height: 180px;
                display: block;
                transition: all .2s ease-in-out;
            }

            .u-original {
                position: absolute;
                background: #00cd32;
                padding: 0 5px;
                display: flex;
                align-items: center;
                height: 26px;
                color: #fff;

                &::after {
                    content: "";
                    position: absolute;
                    left: 100%;
                    top: 0;
                    border-color: #00cd32 transparent #00cd32 #00cd32;
                    border-width: 13px 13px 13px 0;
                    border-style: solid;
                }
            }

        }
    }
    .m-emotion-goback {
        .mb(10px);
    }
    .m-emotion-item {
        &.single {
            text-align: center;
            margin-bottom: 20px;

            .m-single-img {
                max-width: 800px;
                max-height: 800px;
                overflow: hidden;
            }
        }
    }
}