// 列表页
// =======================
.m-emotion-types {
    padding: 10px 0;
    .u-icon {
        .size(24px);
        .y(-6px);
    }
}
.m-emotion-search {
    .el-switch__label {
        color: @color;
    }
}
.m-emotion-pagination {
    .mt(30px);
}
@media screen and (max-width: @phone) {
    .m-emotion-pagination {
        .x;
        overflow-x: auto;
    }
}

@keyframes fadeIn {
    from {
        .tm(0);
    }
    to {
        .tm(1);
    }
}
.m-emotion-list {
    margin: 0;
    display: flex;
    .u-item {
        margin: 0 15px 15px 0;

        &.fadeIn {
            animation: fadeIn 0.2s ease-in-out forwards;
        }
    }
}

// 单页
// =======================
.m-emotion-item {
    .u-emotion {
        .pointer;
    }
    .u-img {
        .db;
        .x;
        img {
            .db;
            .auto(x);
        }
    }

    // .u-op {
    //     display: flex;
    //     align-content: center;
    //     justify-content: space-between;
    //     line-height: 24px;
    //     .mt(4px);

    //     .u-user {
    //         display: inline-flex;
    //         img {
    //             .mr(4px);
    //         }
    //     }

    //     i {
    //         font-size: 16px;
    //         cursor: pointer;
    //         font-style: normal;
    //         color: #eee;
    //         margin-left: 1px;
    //         transition: .1s ease-in-out;
    //         padding: 2px;

    //         &.on {
    //             color: #ff76ba;
    //         }
    //     }
    // }

    .u-meta {
        .mt(5px);
    }
    .u-original,
    .u-star {
        // position: absolute;
        // background: #00cd32;
        // padding: 0 5px;
        // display: flex;
        // align-items: center;
        // height: 26px;
        // color: #fff;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     left: 100%;
        //     top: 0;
        //     border-color: #00cd32 transparent #00cd32 #00cd32;
        //     border-width: 13px 13px 13px 0;
        //     border-style: solid;
        // }
        font-style: normal;
        border-radius: 2px;
        color: #fff;
        .mr(5px);
        font-size: 12px;
        padding: 1px 5px 2px 5px;
    }
    .u-original {
        background-color: #6f42c1;
    }
    .u-star {
        background-color: #f39;
        i {
            .mr(2px);
        }
    }
    .u-desc {
        .fz(14px, 16px);
        &:hover {
            box-shadow: 0 1px 0 @color-link;
        }
    }

    .u-user {
        .mt(10px);
        .fz(12px);
    }
    .u-user-avatar {
        .size(20px);
        .r(100%);
        .y;
        .mr(5px);
    }
    .u-user-name {
        color: #666;
        &:hover {
            color: @color-link;
        }
    }
    .u-time {
        color: #999;
        .ml(10px);
    }

    // &.single {
    //     text-align: center;
    //     margin-bottom: 20px;

    //     .m-single-img {
    //         max-width: 800px;
    //         max-height: 800px;
    //         overflow: hidden;
    //     }
    // }
}

.v-emotion {
    ul,
    li {
        list-style: none;
        padding: 0;
    }

    .m-emotion-goback {
        .mb(10px);
    }
}

// 图片预览
.he-img-view {
    max-width: 1200px !important;
}
