.v-joke-list {
    .item {
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }

    &-item {
        background: #f5f7fa;
        padding: 15px 15px 10px 15px;
        border-radius: 4px;
    }

    .joke-bottom {
        display: flex;
        align-content: baseline;

        .user {
            display: flex;
        }
    }
}
.v-joke-pagination {
    margin-top: 10px;
}
.m-joke-types {
    padding: 10px 0;
    .u-icon {
        .size(24px);
        .y(-6px);
    }
}
.m-joke-goback {
    .mb(10px);

    .clearfix;
    .u-back {
        .fl;
    }

    .u-doc {
        .fr;
        .fz(12px);
        i {
            .mr(5px);
        }
        color: #555;
        &:hover {
            color: @pink;
        }
    }
}

.m-joke-tags {
    .mt(10px);
    color:#666;
    .mb(30px);
    padding:5px 10px;
    i {
        .y;
        .mr(5px);
    }
    .u-tag {
        .fz(12px);

        &:after{
            content:'、';
        }

        &:last-child{
            &::after{
                .none;
            }
        }
    }
}

.m-joke-item {
    position: relative;
    .content {
        // min-height: 32px;
        margin-bottom: 8px;
        // cursor: pointer;
    }

    .u-star {
        font-style: normal;
        font-size: 12px;
        padding: 1px 5px 2px 5px;
        border-radius: 2px;
        background-color: #6f42c1;
        color: #fff;
        // margin-left: 5px;
        // .fl;
        .mr(5px);
        .y();
        .dbi;
        transition: 0.1s ease-in-out;
    }
    .u-star-op{
        .u-star;
        .pointer;
        background-color:#aaa;
        &.on{
            background-color: #6f42c1;
            color: #fff;
        }
    }

    .u-sentence{
        div{
            .di;
        }
    }

    img{
        .y(-3px);
    }

    .misc {
        .clearfix;
    }
    .op {
        .fl;
        .fz(14px,20px);

        .copy-btn {
            .mr(20px);
        }

        i {
            .mr(5px);
        }
    }
    .u-other {
        .fr;
        display: flex;
        font-size: 12px;
        color: #999;

        justify-content: space-between;

        .user {
            display: inline-flex;
            align-items: center;
            margin-right: 24px;

            img {
                margin-right: 8px;
            }
        }
        a:hover {
            color: @pink;
        }

        .u-time {
            display: inline-flex;
            align-items: center;
        }
    }
    .u-joke-delete {
        position: absolute;
        top: -5px;
        right: -5px;
        .pointer;

        &:hover {
            color: #3585de;
        }
    }
}
@media screen and (max-width:@phone){
    .m-joke-item{
        .u-other{
            .none;
        }
        .pr;
        .u-joke-delete{
            .pa;.rb(0,5px);
            top:auto;
        }
    }
    .v-joke-pagination{
        .x;
        overflow-x: auto;
    }
}
